*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}



.mainIndex, .mainCompetition{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20%;
    grid-row-gap: 10%;
    justify-items: center;
    text-align: center;
}

.mainIndex img{
    display: block;
}

main h1{
    text-align: center;
    margin: 1.5em 0;
}

.mainTeamName{
    text-align: center;
}

.coachImg{
    max-width: 400px;
    transform: rotate(360deg);
}

.coach{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    justify-items: center;
}

.teamsTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teamsTop img{
    max-width: 300px;
    align-self: center;
}

